<a href="https://colab.research.google.com/github/NOOBLINUXUSER/NOOBLINUXUSER/blob/main/Lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operators**

---

Operators are the constructs, which can manipulate the value of operands.
![op.png]()

Python language supports the following types of operators-

✔	Arithmetic Operators

✔	Comparison (Relational) Operators

✔	Assignment Operators

✔	Logical Operators

✔	Bitwise Operators

✔	Membership Operators

✔	Identity Operators

#**Arithmetic Operators**

In [ ]:
a = 21
b = 10
c = 0

# add two variables
c = a + b
print('addition: ', c)

# subtract two variables
c = a - b
print('subtraction: ', c)

# divide two variables
c = a / b
print('division: ', c)

# Multiply two variables
c = a * b
print('Multiplication: ', c)

# Modulus two variables
c = a % b
print('Modulus: ', c)

# Exponent of two variables
c = a ** b
print('a^b: ', c)

# floor division of two variables
c = a // b
print('Division: ', c)

addition:  31
subtraction:  11
division:  2.1
Multiplication:  210
Modulus:  1
a^b:  16679880978201
Division:  2

**Exercise: 1**

a. Take two integer values as input from the user.

b. Print the output of (1) division, (2) floor division, (3) Exponent of the two integers.

Enter 1st number:10
Enter 2nd number:3
Division:  3.3333333333333335
Floor Division:  3
Exponent:  1000

**Exercise: 2**
What would be the output of the following program? **Do it in Pen and paper**. Why are you getting this output?

In [ ]:
a = 5.2
b = 2
c = a//b
print('Division: ', c)

Division:  2

**Exercise: 3** What would be the output of the following progam? **Do it in Pen and Paper.**

**Notice how the values of the variables are changing..**

In [ ]:
first_value = 20
second_value = 35
third_value = 29

print(f'{first_value}, {second_value}, {third_value}')

x = first_value + third_value
print(f'{first_value} + {third_value} = {x}')

third_value = third_value + x
print(f'{third_value} + {x} = {third_value}')

print(f'{first_value}, {second_value}, {third_value}')

first_value = third_value // second_value
print(f'{first_value}, {second_value}, {third_value}')

#**Assignment Operators**

These operators assigns value to a given variable (either directly or after some specified computation as identified by the operator)

In [ ]:
a = 21
b = 10
c = 0

c = a + b   # add the value of a and b. Then assign the result to c.
print ("c = ", c)

c =  31

**Exercise: 4**

1. Declare two variables, and assign one with integer value and the other with float value.
2. Print the type of the two variables.
3. Add the two numbers and save them in a new variable.
4. Print the new variable value and the type of the variable.

**What is the type of the new variable having the summation value? Is it different than the type of the input values? Why?**

In [ ]:
a = 30
b = 23
c = 0

c += a                    # c = c + a
print ("Line 1 - Value of c is ", c )
c *= a                    # c = c * a
print ("Line 2 - Value of c is ", c )
c /= a                    # c = c / a
print ("Line 3 - Value of c is ", c )
c = 2
c %= a                    # c = c % a
print ("Line 4 - Value of c is ", c)
c **= a                   # c = c ** a
print ("Line 5 - Value of c is ", c)
c //= a                   # c = c // a
print ("Line 6 - Value of c is ", c)

Line 1 - Value of c is  30
Line 2 - Value of c is  900
Line 3 - Value of c is  30.0
Line 4 - Value of c is  2
Line 5 - Value of c is  1073741824
Line 6 - Value of c is  35791394

**Exercise: 5**
1.   Take two integer variables, a and b, as input from the user.
2.   Print the value of a and b.
3.   Using the above expression of assignement operator, add a and b, and store the result in a. Print the value of a and b.
4.   Using the above expression of assignement operator, multiply a and b, and store the result in a. Print the value of a and b.
5.   Using the above expression of assignement operator, floor divide a and b, and store the result in a. Print the value of a and b.

**Is the value of varibales a and b are remains same? What is the reason of this behaviour?**

#**Comparison Operators**

In [ ]:
a = 20.5
b = 20.5

test = a > b   # checks a is greater than b. RESULT: True or False
print(f'{a} > {b} is {test}')

test = a < b  # checks a is less than b. RESULT: True or False
print(f'{a} < {b} is {test}')

test = a >= b # checks a is greater than or equal to b. RESULT: True or False
print(f'{a} >= {b} is {test}')

test = a <= b # checks a is less than or equal to b. RESULT: True or False
print(f'{a} <= {b} is {test}')

test = a == b # checks a is equal to b. RESULT: True or False
print(f'{a} <= {b} is {test}')

20.5 > 20.5 is False
20.5 < 20.5 is False
20.5 >= 20.5 is True
20.5 <= 20.5 is True
20.5 <= 20.5 is True

**Exercise: 6**

Take two numbers as input. Check and print whether they are equal to or not.

**Comparison and decision making**

We can compare two or more values using **if-statemement** and take decision accordingly.

In [ ]:
a = 19.5
b = 20.3

if a > b:
  print(f'{a} > {b}')
else:
  print(f'{a} < {b}')

19.5 < 20.3

**Exercise: 7**

Using if statement check whether two numbers are equal or not and print the result.

#**Logical Operator**

**and** Logical AND operation

**or** Logical OR operation

**not** Logical NOT operation

Returns boolean result **True or False** depending on the comparison operation.

Logical **and** operation is used when we need to compare more than one condition and all the conditions have to be true to perform a task.

In [ ]:
# turn on the ac if the temparature is greater than 38 and humidity is greater than or equal to 86.

temp = int(input('Enter Current Temperature: '))
humid = int(input('Enter Current Humidity: '))

if temp > 38 and humid >=86:
  print('Turn the AC on')
else:
  print('Turn the AC off')

Enter Current Temperature: 37
Enter Current Humidity: 89
Turn the AC off

Logical **or** operation is used when we need to compare more than one condition and any /some of the conditions have to be true to perform a task.

In [ ]:
# You will pass the course either by getting more than 90 marks in the project or by passing final term exam.

project_marks = int(input('Enter Project Marks: '))
final_exam = (input('Enter Final Exam status (Pass / Fail): '))

if project_marks > 90 or final_exam == 'Pass':
  print('You have passed the course')
else:
  print('You failed in the course')

Enter Project Marks: 90
Enter Final Exam status (Pass / Fail): Fail
You failed in the course

Logical **not** operation toggles the state of a variable: True to False | False to True

In [ ]:
a = 25
b = 45

c = a < b  # what is the value of c?
print(f'{c}')

c = not(c) # togglilng the value of c
print(f'{c}')

True
False

**Exercise: 8**


1.   Take student quiz marks and lab marks in two variables (q_mark and l_mark)
2.   If the q_mark is greater than l_mark and l_mark is greater than or equal to 6.5, then print 'You will get bonus marks', otherwise print 'No bonus marks'

**Exercise: 9**


1.   Take ticket price and bonus point in two variables (tic_price and bon_point)
2.   If the tic_price is greater than 550 or bon_point is equal to 1200, then print 'You will get 10% discount', otherwise print 'No discount'

#**Identity Operator**

Identity Operators checks whether two variables are same or not.

**is** Operator checks whehter two variables are same or not.

In [ ]:
a = 20
b = 20
print ('a=',a,':',id(a), 'b=',b,':',id(b))

if ( a is b ):
 print (f"{a} and {b} have same identity")
else:
 print (f"{a} and {b} do not have same identity")

# same can be done with id() operator and using == compraison operator
if ( id(a) == id(b) ):
 print (f"{a} and {b} have same identity")
else:
 print (f"{a} and {b} do not have same identity")

a= 20 : 139621255873360 b= 20 : 139621255873360
20 and 20 have same identity
20 and 20 have same identity

**Exercise: 10**

1. Take two integer variables as input from the user.
2. Then check whether they are same or not using "is" operator.

**is not** Operator checks whether two variables are not the same.

In [ ]:
a = 20
b = 30
print ('Line 4','a=',a,':',id(a), 'b=',b,':',id(b))

if ( a is not b ):
 print (f"{a} and {b} do not have same identity")
else:
 print (f"{a} and {b} have same identity")

**Exercise: 11**

1. Take two integer variables as input from the user.
2. Then check whether they are same or not using "is not" operator.

#**Membership Operator**

Membership operator finds whether a given variable is in the list or not - it returns **true / false** accordingly.

**in** operators checks whether a variable is in the list or not.

In [ ]:
a = 5
b = 20
list = [1, 2, 3, 4, 5 ]

if ( a in list ):
 print(f"{a} is available in the given list")
else:
 print(f"{a} is not available in the given list")

5 is available in the given list

**Exercise: 12**

Write code using **in** operator to check whether **b** is in the list or not.

In [ ]:
a = 5
b = 20
list = [1, 2, 3, 4, 5 ]

# Write your code here

**not in** operators checks whether a variable is in the list or not.

In [ ]:
a = 2.1
b = 20
list = [1, 2, 3, 4, 5 ]

if ( b not in list ):
 print (f"{b} is not available in the given list")
else:
 print (f"{b} is available in the given list")

**Exercise: 13**

Write code to check whether variable **a** is **not in** the list?

In [ ]:
a = 2.1
b = 20
list = [1, 2, 3, 4, 5 ]

#Write your code here.

**Exercise: 14**

What is the output of the following program?
**Do it in pen and paper and then run the code to match your answer.**

In [ ]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]

c=b/a
if ( c in list ):
 print (f"{c} is available in the given list")
else:
 print (f"{c} is not available in the given list")

2.0 is available in the given list